@namespace Sparrow.Framework.Controls

<Menu Mode=MenuMode.Horizontal @ref="_menu"
      OnMenuItemClicked="OnMenuItemClick"
      OnSubmenuClicked="OnSubMenuClick">

    @foreach (var item in this.Roots.OrderBy(m => m.Contribution.Order))
    {
        this.Parse(item);
    }
</Menu>

@code {
    private RenderFragment Parse(AppMenuItem item)
    {
        switch (item.Contribution)
        {
            case AppCommand command:
                {
                    return@<MenuItem Key="@command.Id" Disabled="@(!command.IsEnabled)">
        @if (command.Icon != null)
            {
                <Icon Type="@command.Icon" />
            }
            @command.Title
            @if (command.ShortcutKey != null)
            {
                <span class="layout-menu-shortcut">@command.ShortcutKey</span>
            }
        </MenuItem>
    ;
                }
            default:
                {
                    return@<SubMenu TitleTemplate="@this.ParseTitle(item)">
        @foreach (var child in item.Children)
            {
                this.Parse(child);
            }
        </SubMenu>
    ;
                }
    ;
        }
    }

    private RenderFragment ParseTitle(AppMenuItem item)
    {
        return
    @<span>
        @if (item.Contribution.Icon != null)
        {
            <Icon Type="@item.Contribution.Icon" />
        }
        @item.Contribution.Title
    </span>;
    }
}